@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  min-height: 100vh;
  transition: width ease-in-out 400ms;
  z-index: 100 !important;

  &-logo {
    $logo: '.logo';
    padding: 20px 18px;
    @include flex(flex, space-between, center);

    #{$logo}-details {
      @include flex(flex, flex-start, center);
      opacity: 1;
      width: auto;
      transition: opacity ease-in 1s;
    }

    #{$logo}-details-collapsed {
      display: none;
      opacity: 0;
      width: 0;
      height: 0;
      transition: opacity ease-in 50ms;
    }
  }
}

.sidebar--collapsed {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 110vh;
  width: 70px;
  transition: width ease-in-out 400ms;
}

.link-name {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.link-name-active {
  max-height: 22px;
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
}
